*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    margin-left: 10vw;
    margin-right: 10vw;
}

nav{
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#navleft{
    display: flex;
    gap: 1rem;
}

#navright{
    display: flex;
    gap: 1rem;
}

.items{
    background-color: green;
}

#box1{
    display: flex;
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;
}

.boxes-1, .boxes-2{
    height: 150px;
    width: 270px;
    min-width: 190px;
    background-color: antiquewhite;
    flex-grow: 1;
}

#box2{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.ordinarybox{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

.subordinarybox-1{
    display: flex;
    gap: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
}

.subordinarybox-2{ 
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.specialbox{
    background-color: white;
    height: auto;
    width: 360px;
}

@media (max-width: 747px){
    .boxes-2-spec{
        width: 44vw;
    }
}


@media (max-width: 672px){
    #box2{
        flex-wrap: wrap;
    }
    
    #box2, .subordinarybox-2, .specialbox{
        flex-grow: 1;
    }

    .boxes-2-spec{
        width: 44vw;
        height: 200px;
    }
}






